body{
    background-color: #456ba5;
    position: relative;
    margin: 5px;
}
img.logo{
    width: 65px;
    text-align: center;
    display: block;
    margin-left: 4px;
    margin-right: 4px;

}
footer{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4pt;
    background-color: #e1d102;
    background-attachment: scroll;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 25px;
}
h5.info{
    font-size: 5pt;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-style: italic;
}
p.info{
    font-weight: bold;
    font-style: italic;
}
div.address{
    font-size: 5px;
    text-align: center;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    border-radius: 30px;
    margin-top: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   padding-bottom: 3px;
}
a.mail{
    text-decoration: none;
}
.dropbtn {
    background-color: white;
    color: #456ba5;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #456ba5;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
button#profile-button {
    background-color: #456ba5;
    color: #fff;
    cursor: pointer;
    font-size: 5px;
    padding: 4px;
    margin-left: 7px;
    border-style: solid;
    border-color: #263a58;
    border-width: 1px;
}
h4.titre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    text-decoration-line: underline;
    text-decoration-color: #000000;
    text-align: center;
    text-decoration-thickness: 1px;
    margin-top: 0px;
    margin-bottom: 4px;
}

p.t1{
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #456ba5;
}
div.pge{
    background-color: white;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 6px;
    margin-top: 8px;
}
ul.pd{
    font-size: 5px;
    padding-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
li.pd{
    margin-bottom: 3px;
    font-weight: bold;
    color: #456ba5;
    list-style: decimal;
    list-style-position: outside;
}
div.pg{
    background-color: white;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 6px;
    margin-top: 8px;
}
img.lm{
    width: 75px;
    margin-top: 8px;
}

a.ach{
    font-size: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #456ba5;
    align-self: center;
    border-style: solid;
    border-color: #263a58;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    display: block;
    text-decoration-line: none;
}



.chat-container {
    position: fixed;
    bottom: 15px;
    right: 8px;
  }
  
  .chat-button {
    border-radius: 100px;
    border-style: none;
    border-width: 0.001cm;
    font-size: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.527);
  }
  
  .chat-box {
    display: none;
    border-color:#000000;
    border-style: solid;
    border-width: 0.00001cm;
    width: 70px;
    height: 120px;
    overflow: auto;
    background-color: #456ba5d5;
  }
  
  .chat-header {
    background-color: #456ba5;
    padding: 1px;
    position: fixed;
    font-size: 6px;
    padding: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    color: white;
  }
  
  .close-button {
    cursor: pointer;
    font-size: 6px;
    padding: 2px;
    border-radius: 100px;
    border-style: none;
    background-color: #ffffff;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 15px;
    margin: 3px;
  }
  
  .chat-input input[type="text"] {
    flex: 1;
    width: 38px;
    font-size: 6px;
    border-style: none ;
    border-style: solid;
    border-width: 0.01cm;
    border-color: #000000;
    position: absolute;
    top: 1px;
  }
  
  .chat-input button {
    padding: 3px;
    background-color: #456ba5;
    color: #fff;
    border: none;
    cursor: pointer;
    pointer-events: none;
    font-size: 4px;
    position: absolute;
    top: 1px;
    left: 45px;
  }

  .bulle{
    width: 12px;
  }

  /* Style pour les messages envoyés */
.message.sent {
    background-color: white;
    color: black;
    align-self: flex-end;
    border-radius: 10px;
    padding: 5px;
    padding-left: 4px;
    margin: 5px;
    font-size: 7px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
  }
  
  /* Style pour les messages reçus */
  .message.received {
    background-color: #f0f0f0;
    color: #000;
    align-self: flex-start;
    border-radius: 10px;
    padding: 8px;
    margin: 5px 0;
  }
  .chat-messages{
    z-index: 1;
  }
