body{
    background-color: #456ba5;
    position: relative;
    margin: 5px;
}
img.logo{
    width: 40px;
}
footer{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4pt;
    background-color: #e1d102;
    background-attachment: scroll;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 25px;
}
h5.info{
    font-size: 5pt;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-style: italic;
}
p.info{
    font-weight: bold;
    font-style: italic;
}
div.address{
    font-size: 5px;
    text-align: center;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    border-radius: 30px;
    margin-top: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   padding-bottom: 3px;
}
a.mail{
    text-decoration: none;
}
.dropbtn {
    background-color: white;
    color: #456ba5;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #456ba5;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
button#profile-button {
    background-color: #456ba5;
    color: #fff;
    cursor: pointer;
    font-size: 5px;
    padding: 4px;
    margin-left: 7px;
    border-style: solid;
    border-color: #263a58;
    border-width: 1px;
}
h4.titre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    text-decoration-line: underline;
    text-decoration-color: #000000;
    text-align: center;
    text-decoration-thickness: 1px;
    margin-top: 0px;
    margin-bottom: 4px;
}

p.t1{
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #456ba5;
}
div.pge{
    background-color: white;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 6px;
    margin-top: 8px;
}
ul.pd{
    font-size: 5px;
    padding-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
li.pd{
    margin-bottom: 3px;
    font-weight: bold;
    color: #456ba5;
    list-style: decimal;
    list-style-position: outside;
}
div.pg{
    background-color: white;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 6px;
    margin-top: 8px;
}
img.lm{
    width: 75px;
    margin-top: 8px;
}

a.ach{
    font-size: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #456ba5;
    align-self: center;
    border-style: solid;
    border-color: #263a58;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    display: block;
    text-decoration-line: none;
}



.chat-bubble {
  position: fixed;
  bottom: 8px;
  right: 2px;
  z-index: 1000;
}

.chat-box {
  display: none;
  max-width: 70px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff93;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat-icon img {
  width: 10px;
  height: 10px;
  color: #fff;
}

.chat-content {
  padding: 5px;
  margin-bottom: 6px;
  padding: 5px;
  max-height: 50px; /* Définissez la hauteur maximale souhaitée pour la zone de chat */
  overflow-y: auto; /* Activez le défilement vertical lorsque nécessaire */
}

.message {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.received {
  background-color: #f1f0f0;
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif0;
  padding: 4px;
}

.sent {
  background-color: #007bff;
  color: #fff;
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif0;
  padding: 4px;
}

#userInput {
  width: calc(100% - 20px);
  padding: 5px;
  border: none;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 5px;
}

#sendMessageBtn{
  width: 18px;
  position: fixed; 
  bottom: 33px;
  right: 7px;
  border-style: none;
  border-radius: 50px;
}
img.envoi{
    width: 10px;
}
